body{
    font-family: cursive;
}
.mainDiv h1{
    font-size: 3em;
}
.info-Div{
    height: 50%;
}
.info-Div h2{
    font-size: 3.5em;
    text-transform: capitalize
}
.info-Div h1{
    font-size: 3em;
}
.info-Div .datePara{
    font-size: 3em;
}
.info-Div p{
    font-size: 4em;
}
.searchBox{
    border-radius: 25%;
}
.searchBox input{
    padding-left: 1.2em;
    font-size: 1.5em;
    border-radius: 25px;
    border: none;
    padding: 0 5px;
    border: 1px solid rgb(14, 50, 148);
    
}
.card-img-overlay.mainDiv {
    background: #646464d1;
}
.card-img{
    height: 800px !important;
}

/* Media Query For Screens */

@media only screen and (max-width:768px)and (min-width:425px){
    .mainDiv{
        height: 50vh;
        line-height: normal;
    }
    .info-Div{
        font-size: 24px
    }
    .mainDiv h1{
        font-size: 3em;
    }
    .info-Div h2{
        font-size: 2.5em;
        text-transform: capitalize
    }
    .info-Div h1{
        font-size: 24px;
    }
    .info-Div .datePara{
        font-size: 20px;
    }
    .info-Div p{
        font-size: 20px;
    }
}
@media only screen and (max-width:425px){
    .mainDiv{
        height: 82vh;
        line-height: normal;
    }
    .info-Div{
        font-size: 2em
    }
    .mainDiv h1{
        font-size: 3em;
    }
    .info-Div h2{
        font-size: 2em;
        text-transform: capitalize
    }
    .info-Div h1{
        font-size: 2em;
    }
    .info-Div .datePara{
        font-size: 24px;
    }
    .info-Div p{
        font-size: 24px;
    }
}
@media only screen and (max-width:375px){
    .mainDiv{
        height: 72vh;
        line-height: normal;
    }
    .info-Div{
        font-size: 24px
    }
    .mainDiv h1{
        font-size: 3em;
    }
    .info-Div h2{
        font-size: 24px;
        text-transform: capitalize
    }
    .info-Div h1{
        font-size: 24px;
    }
    .info-Div .datePara{
        font-size: 20px;
    }
    .info-Div p{
        font-size: 20px;
    }
}
@media only screen and (max-width:320px){
    .mainDiv{
        height: 75vh;
        line-height: normal;
    }
    .searchBox input{
        height: 24px;
        font-size: 15px;
    }
    .info-Div{
        font-size: 24px
    }
    .mainDiv h1{
        font-size: 24px;
    }
    .info-Div h2{
        font-size: 24px;
        text-transform: capitalize
    }
    .info-Div h1{
        font-size: 24px;
    }
    .info-Div .datePara{
        font-size: 20px;
    }
    .info-Div p{
        font-size: 20px;
    }
}